@model List<Matratt>




@if ()
{
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-header">

            </div>
            <div class="card-body">


            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Ändra</a>
                <a href="#" class="btn btn-danger">Ta bort</a>
            </div>
        </div>

    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto">
                Create Role
            </a>




        </div>
    </div>
}





